.card{
  display: inline-flex;
  width: 15rem;
  height: auto;
  border: none;
  background-color: inherit;
}
.info-container{
  background-color: #141414;
}

.cardContent{
  color: white;
  text-align: center;
  font-family: 'League Gothic', sans-serif;
  font-size: 1.5rem;
}
