<div class="mf-pop-content">
  <div class="container">
    <table class="table mf-table">
      <thead>
      <tr>
        <th scope="col">Hero Image</th>
        <th scope="col">Name</th>
        <th scope="col">Skills</th>
        <th scope="col">Release date</th>
        <th scope="col">Power</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pop of popList">
        <td><img class="mf-image-cartoon" src="{{pop.img}}"></td>
        <td>{{pop.heroName}}</td>
        <td>{{pop.skills}}</td>
        <td>{{pop.releaseDate}}</td>
        <td>{{pop.power | power}}</td>
        <td>
          <div class="myTable-button"><i class="fa fa-star btn"></i></div>
        </td>
        <td>
          <div><i class="fa fa-eye btn" routerLink="/prefered"></i></div>
        </td>
        <td>
          <div (click)="deletePop(pop)"><i class="fa fa-trash btn"></i></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
