footer{
  width: 100vw;
  position: absolute;
  bottom: 1rem;
  .img-container{
    display: flex;
    justify-content: center;
    img{
      width: 30px;
      height: 30px;
      padding: 0px 2rem 0 2rem;
    }
  }
}
