
  <div class="card bg-black mx-5" style="width: 20rem;">
    <img class="card-img-top" src="{{img}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="text-light card-title text-center">{{nameHero}}</h5>
      <p class="card-text text-light">ID : {{id}}</p>
      <p class="card-text text-light">Abilita : {{ability}}</p>
      <p class="card-text text-light">Data di Uscita : {{releaseDate |  date: 'dd/MM/yyyy'}}</p>
      <p class="card-text text-light">Lvl di potenza : {{power}}</p>
    </div>
  </div>

