<div class="card" style="width: 18rem;">
    <img src="pop.img" class="card-img-top" alt="Img">
    <div class="card-body">
      <h5 class="card-name">{{pop.name}}</h5>
      <p class="card-skill">{{pop.skill}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Exit date: {{pop.exitDate}}</li>
      <li class="list-group-item">Power: {{pop.power}}</li>
      <li class="list-group-item">Real name: {{pop.realName}}</li>
      <li class="list-group-item">Is an enemy: {{pop.isEnemy}}</li>
      <li class="list-group-item">Multiverse: {{pop.multiverse}}</li>
      <li class="list-group-item">Main color: {{pop.mainColor}}</li>
    </ul>
  </div>