
.contenitoreCard{
  margin-left: 4rem;
  display: inline-flex;
  padding: 1rem;
}

.delete{
  margin-left: 1rem;
}

.img{
  margin-left: 1.5rem;
  height: 10rem;
  width: 10rem;
}

.card{
  padding: 1rem;
  border-radius: 10%;
}

.btn-add{
  margin-right: 1rem;
}
