.home-image-background{
  height: 85vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url("~src/assets/img/background.jpg");
  background-size: cover;
}
