.navbar{
  height: 7rem;
  background-color: #DA1212;
}

.link-home{
  text-decoration: none;
}

.logo{
  margin-left: 1rem;
  height: 3rem;
  width: 6rem;
}

.navbar-brand{
  margin-left: 1rem;
  font-size: 1.5rem;
}

.video{
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
  height: 6rem;
}
