<!--<div class="headerList">
  <div class="contenitoreIcona">
    <img src="assets/img/marvel-logo-34283.png" alt="plate icon" class="iconaHeader">
  </div>
  <ul class="navbarMenu">
    <li>
      <a routerLink="manage-pop" >GestionePOP</a>
    </li>
    <li>
      <a routerLink="favourites">Preferiti</a>
    </li>

  </ul>
  <div class="HeaderTitle">
    <h4></h4>
  </div>
</div>-->
<nav class="navbar navbar-expand-lg bg-dark ">
  <a class="navbar-brand " href="#">
    <img class="text-light" src="assets/img/marvel-logo-34283.png" width="120"  alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-light" routerLink="manage-pop" >GestionePOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="favourites">Preferiti</a>
      </li>
    </ul>
  </div>
</nav>

