<div class="mf-header">
  <div class="container d-flex justify-content-between">
    <div class="mf-logo-box p-3">
      <a routerLink="/home">
        <img src="assets/img/angular.png">
      </a>
    </div>
    <div class="mf-navbar d-flex align-items-center">
      <nav>
        <ul class="d-flex">
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a routerLink="/pop">Pops</a>
          </li>
          <li>
            <a routerLink="/prefered">Prefered Pop</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
