<main>
  <div class="table-container">
    <div class="table-background">
<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Hero name</th>
    <th scope="col">Skills</th>
    <th scope="col">Release date</th>
    <th scope="col">Power</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pop of popList">
    <td><img src="{{pop.img}}" class="table-img"></td>
    <td>{{pop.heroName}}</td>
    <td>{{pop.skills}}</td>
    <td>{{pop.releaseDate}}</td>
    <td>{{pop.power | powerPipe}}</td>
    <td><div *ngIf="pop.favourite == false" class="myTable-button" (click)="postPopToFavourites(pop)"><i class="fa fa-star"></i></div>
      <div *ngIf="pop.favourite == true" class="myTable-button" (click)="deletePopfromFavurites(pop)"><i class="fa fa-star-o"></i></div></td>
    <td><div class="myTable-button" [routerLink]="['./details/',pop.id]"><i class="fa fa-eye"></i></div></td>
    <td><div class="myTable-button" (click)="deletePop(pop)"><i class="fa fa-trash"></i></div></td>
  </tr>
  </tbody>
</table>
    </div>

  </div>
</main>
