<div class="nvbar sticky-lg-top">
  <div class="d-flex">
    <div><a routerLink="/home" class="nav-testo"><img class="logo" src="assets/img/marvelLogo.png"></a></div>
  </div>
  <div class="nvbar-utility">
    <ul class="nvbar-cont">
      <li routerLink="/home" class="nvbar-link link btn text-light">Home</li>
      <li routerLink="/pop" class="nvbar-link link btn text-light">Pop</li>
      <li routerLink="/favourite" class="nvbar-link btn link btn text-light">Favourites</li>
    </ul>
  </div>
</div>
